In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import glob
import pandasql as pdsql

sys.path.append("..")
import analysislib as alib

In [4]:
pdsqleval = lambda q: pdsql.sqldf(q, globals())

In [9]:
master2 = pd.read_csv("../../data/2025-03-04-time-18-40-26-second-run-finch2/master.csv", index_col=0)

In [10]:
pdsqleval("SELECT * FROM master2").columns

Index(['cbSize', 'cioengine', 'ciodepth', 'crw', 'cnproc', 'cdevice',
       'cdirect', 'cmemlim', 'readBW_bytes', 'readBW', 'writeBW_bytes',
       'writeBW', 'avgreadlat_ns', 'avgreadlat', 'avgwritelat_ns',
       'avgwritelat'],
      dtype='object')

In [12]:
pdsqleval("""
    SELECT ciodepth, cnproc, cdevice, readBW
    FROM master2
    WHERE cioengine = 'mmap' AND crw = 'read'
    ORDER BY cdevice, cnproc, ciodepth
""")

   ciodepth  cnproc cdevice   readBW
0         1       1     ssd   1.7 GB
1         1      32     ssd   7.9 GB
2         1      64     ssd   6.2 GB
3         1       1    zram   1.7 GB
4         1      32    zram  22.5 GB
5         1      64    zram  18.6 GB